<div class="c-actions-bar js-items-actions">
  <div
    class="c-actions-bar__action {{if @openMoveDialog '' 'is-disabled'}}"
    {{action (optional @openMoveDialog)}}
  >
    {{svg-jar "move" class="c-actions-bar__icon"}}

    <div class="c-actions-bar__text">
      Move
    </div>

    {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
      Move selected items
      <br>to another list
    {{/attach-tooltip}}
  </div>

  <div
    class="c-actions-bar__action"
    {{action @openWhenDialog}}
  >
    {{svg-jar "upcoming" class="c-actions-bar__icon"}}

    <div class="c-actions-bar__text">
      When
    </div>

    {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
      Decide when to start
      <br>Today or Later?
    {{/attach-tooltip}}
  </div>


  {{#if @isDeleted}}
    <div class="c-actions-bar__action" {{action @undelete}}>
      {{svg-jar "redo" class="c-actions-bar__icon"}}

      <div class="c-actions-bar__text">
        Put back
      </div>

      {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
        Recover selected items
      {{/attach-tooltip}}
    </div>
  {{else}}
    <div class="c-actions-bar__action" {{action @delete}}>
      {{svg-jar "delete2" class="c-actions-bar__icon c-actions-bar__icon--delete"}}

      <div class="c-actions-bar__text">
        Delete
      </div>

      {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
        Delete selected items
      {{/attach-tooltip}}
    </div>
  {{/if}}

  {{#basic-dropdown
    class="c-dropdown"
    horizontalPosition="center"
    verticalPosition="above"
    as |dropdown|
  }}
    {{#dropdown.trigger class="c-dropdown__trigger c-actions-bar__action"}}
      {{svg-jar "more" class="c-dropdown__trigger-icon c-actions-bar__icon"}}
    {{/dropdown.trigger}}

    {{#dropdown.content class="c-dropdown__content c-actions-bar__dropdown-content js-items-actions"}}
      <div class="c-dropdown__content-inner">
        <div class="c-dropdown__section">
          <div
            class="c-dropdown__item c-actions-bar__dropdown-item"
            {{action (queue dropdown.actions.close @openDeadlineDialog)}}
          >
            {{svg-jar "flag" class="c-dropdown__item-icon"}}

            <div class="c-dropdown__item-text">Add deadline</div>
          </div>

          {{#if @markAsCompleted}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @markAsCompleted)}}
            >
              {{svg-jar "checkbox-mark" class="c-dropdown__item-icon c-dropdown__item-icon--small"}}

              <div class="c-dropdown__item-text">Mark as completed</div>
            </div>
          {{/if}}

          {{#if @markAsNew}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @markAsNew)}}
            >
              {{svg-jar "uncomplete" class="c-dropdown__item-icon"}}

              <div class="c-dropdown__item-text">Mark as uncompleted</div>
            </div>
          {{/if}}

          <div
            class="c-dropdown__item c-actions-bar__dropdown-item"
            {{action (queue dropdown.actions.close @markAsCanceled)}}
          >
            {{svg-jar "cancel" class="c-dropdown__item-icon c-dropdown__item-icon--small"}}

            <div class="c-dropdown__item-text">Mark as canceled</div>
          </div>
        </div>
      </div>
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>