<div class="l-container__sidebar">
  <div class="l-container__content">
    {{sidebar-nav
      projects=@projects
      reorderItems=@reorderItems
    }}
  </div>
  <div class="l-container__footer">
    <div class="c-sidebar-actions c-sidebar-actions--sidebar">
      <div
        class="c-sidebar-actions__item"
        title="Create a new list"
      >
        {{svg-jar "plus" class="c-sidebar-actions__icon c-sidebar-actions__icon--plus"}}

        <div
          class="c-sidebar-actions__text"
          {{action @createProject}}
        >
          New Project
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  {{yield}}

  {{#animated-if this.hasSelected use=transition duration=200}}
    {{actions-bar
      openMoveDialog=(action "toggleMoveDialog")
      deleteSelected=(action "deleteSelected")
    }}
  {{/animated-if}}
</div>

{{#if this.isShortcutsDialogOpen}}
  {{shortcuts-dialog
    close=(action "toggleShortcutsDialog")
  }}
{{/if}}

{{#if this.isMoveDialogOpen}}
  {{move-dialog
    folders=this.folders
    projects=(sort-by 'order' (filter-by "isCompletedOrDeleted" false @projects))
    close=(action "toggleMoveDialog")
    moveSelectedToFolder=(action "moveSelectedToFolder")
    moveSelectedToProject=(action "moveSelectedToProject")
  }}
{{/if}}

{{#animated-if canCreateTask use=transition duration=200}}
  <div class="c-floating-button">
    <div class="c-floating-button__inner" {{action "createNewTask"}}>
      {{svg-jar "plus" class="c-floating-button__iner__icon"}}
    </div>
  </div>
{{/animated-if}}