<div class="l-container__sidebar">
  <div class="l-container__content">
    {{sidebar-nav
      tasks=@tasks
      activeProjects=@activeProjects
      reorderItems=@reorderItems
    }}
  </div>
  <div class="l-container__footer">
    <div class="c-sidebar-actions c-sidebar-actions--sidebar">
      <div
        class="c-sidebar-actions__item"
        title="Create a new list"
      >
        {{svg-jar "plus" class="c-sidebar-actions__icon c-sidebar-actions__icon--plus"}}

        <div
          class="c-sidebar-actions__text"
          {{action @createProject}}
        >
          New Project
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  {{yield}}

  {{#animated-if this.hasSelected use=transition duration=200}}
    {{actions-bar
      openMoveDialog=(if this.hasSelectedProjects null (toggle-action "isMoveDialogOpen" this))
      openDeadlineDialog=(toggle-action "isDeadlineDialogOpen" this)
      deleteSelected=(action "deleteSelected")
    }}
  {{/animated-if}}
</div>


{{!-- {{#if this.isShortcutsDialogOpen}}
  {{to-elsewhere name="modal"}}
  {{to-elsewhere
    named="my-right-sidebar"
    send=(component
          "cool-thing"
          model=model
          launch=(action "launchIt")
    )
  }} --}}


{{#if this.isShortcutsDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "shortcuts-dialog"
    close=(toggle-action "isShortcutsDialogOpen" this)
  )}}
{{/if}}

{{#if this.isMoveDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "move-dialog"
    activeProjects=@activeProjects
    moveToFolder=(action "moveSelectedToFolder")
    moveToProject=(action "moveSelectedToProject")
    close=(toggle-action "isMoveDialogOpen" this)
  )}}
{{/if}}

{{#if this.isDeadlineDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "deadline-dialog"
    setDeadline=(action "setDeadlineForSelected")
    close=(toggle-action "isDeadlineDialogOpen" this)
  )}}
{{/if}}

{{#animated-if canCreateTask use=transition duration=200}}
  <div class="c-floating-button">
    <div class="c-floating-button__inner" {{action "createNewTask"}}>
      {{svg-jar "plus" class="c-floating-button__iner__icon"}}
    </div>
  </div>
{{/animated-if}}