<div class="c-folder__title-section">
  {{#if @project}}
    {{project-form
      project=@project
      setProjectName=(route-action "setItemName" @project)
      setProjectNotes=(route-action "setItemNotes" @project)
      markProjectAsCompleted=(route-action "markItemsAs" @project "completed")
      markProjectAsNew=(route-action "markItemsAs" @project "new")
      deleteProject=(pipe (route-action "deleteItems" @project) (route-action "replaceRoute" "today"))
      undeleteProject=(route-action "undeleteItems" @project)
      setProjectWhen=(route-action "setItemsWhen" @project)
      setProjectDeadline=(route-action "setItemsDeadline" @project)
    }}
  {{else}}
    <div class="c-folder__title">
      {{svg-jar @folder class=(concat "c-icon c-icon--24 c-icon--" @folder)}}

      <div class="c-folder__title-text">{{@folder}}</div>
    </div>
  {{/if}}

  {{tags-filter project=@project}}
</div>

{{#if hasContent}}
  {{yield (action "selectBetween")}}
{{else}}
  {{list-placeholder folder=@folder}}
{{/if}}
