<div class="l-container__sidebar">
  <div class="l-container__content">
    {{sidebar-nav}}
  </div>
  <div class="l-container__footer">
    <div class="c-sidebar-actions c-sidebar-actions--sidebar">
      <div
        class="c-sidebar-actions__item"
        title="Create a new list"
      >
        {{svg-jar "plus" class="c-sidebar-actions__icon c-sidebar-actions__icon--plus"}}
        <div class="c-sidebar-actions__text">New List</div>
      </div>
    </div>
  </div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  {{yield}}

  {{actions-bar
    deleteTasks=@deleteTasks
  }}
</div>

{{shortcuts-dialog
  isOpen=this.isShortcutsDialogOpen
  close=(action "toggleShortcutsDialog")
}}

<div class="c-floating-button js-floating-button {{if this.isEditing "is-editing"}}">
  <div class="c-floating-button__inner" {{action "createNewTask"}}>
    {{svg-jar "plus" class="c-floating-button__iner__icon"}}
  </div>
</div>