<div class="l-container__sidebar">
  <div class="l-container__content">
    {{sidebar-nav reorderItems=@reorderItems}}
  </div>
  <div class="l-container__footer">
    <div class="c-sidebar-actions">
      <div
        class="c-sidebar-actions__item"
        title="Create a new list"
        {{action @createProject}}
      >
        {{svg-jar "plus" class="c-sidebar-actions__icon c-sidebar-actions__icon--plus"}}

        <div class="c-sidebar-actions__text">
          New Project
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  {{yield}}

  {{#animated-if this.isActionsBarShown use=transition duration=200}}
    {{actions-bar
      isInTrashList=this.isInTrashList
      openMoveDialog=(if this.hasSelectedProjects null (toggle-action "isMoveDialogOpen" this))
      openWhenDialog=(toggle-action "isWhenDialogOpen" this)
      openDeadlineDialog=(toggle-action "isDeadlineDialogOpen" this)
      markAsCompleted=(action "markSelectedItemsAs" "completed")
      markAsNew=(action "markSelectedItemsAs" "new")
      markAsCanceled=(action "markSelectedItemsAs" "canceled")
      delete=(action "deleteSelectedItems")
      undelete=(action "undeleteSelectedItems")
    }}
  {{/animated-if}}
</div>

{{#if this.isShortcutsDialogOpen}}
  {{shortcuts-dialog close=(toggle-action "isShortcutsDialogOpen" this)}}
{{/if}}

{{#if this.isMoveDialogOpen}}
  {{#let (toggle-action "isMoveDialogOpen" this) as |close|}}
    {{to-elsewhere named="modal" send=(hash
      body=(component "move-options"
        moveToInbox=(queue (action "moveSelectedTasksToInbox") close)
        moveToProject=(queue (action "moveSelectedTasksToProject") close)
      )
      title="Move"
      close=close
    )}}
  {{/let}}
{{/if}}

{{#if this.isWhenDialogOpen}}
  {{#let (toggle-action "isWhenDialogOpen" this) as |close|}}
    {{to-elsewhere named="modal" send=(hash
      body=(component "when-options"
        setWhen=(queue (action "setSelectedItemsWhen") close)
      )
      title="When"
      close=close
    )}}
  {{/let}}
{{/if}}

{{#if this.isDeadlineDialogOpen}}
  {{#let (toggle-action "isDeadlineDialogOpen" this) as |close|}}
    {{to-elsewhere named="modal" send=(hash
      body=(component "deadline-options"
        setDeadline=(queue (action "setSelectedItemsDeadline") close)
      )
      title="Deadline"
      close=close
    )}}
  {{/let}}
{{/if}}

{{#if this.isTagsDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "tags-dialog"
    setTags=(action "setSelectedItemsTags")
    createTag=(route-action "createTag")
    setTagName=(route-action "setTagName")
    deleteTag=(route-action "deleteTag")
    close=(toggle-action "isTagsDialogOpen" this)
  )}}
{{/if}}

{{#animated-if canCreateTask use=transition duration=200}}
  <div class="c-floating-button">
    <div class="c-floating-button__inner" {{action "createNewTask"}}>
      {{svg-jar "plus" class="c-floating-button__iner__icon"}}

      {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
        Create New To-Do
      {{/attach-tooltip}}
    </div>
  </div>
{{/animated-if}}