<div class="l-container__sidebar">
  <div class="l-container__content">
    {{sidebar-nav reorderItems=@reorderItems}}
  </div>
  <div class="l-container__footer">
    <div class="c-sidebar-actions">
      <div
        class="c-sidebar-actions__item"
        title="Create a new list"
        {{action @createProject}}
      >
        {{svg-jar "plus" class="c-sidebar-actions__icon c-sidebar-actions__icon--plus"}}

        <div class="c-sidebar-actions__text">
          New Project
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  {{yield}}

  {{#animated-if this.hasSelected use=transition duration=200}}
    {{actions-bar
      isDeleted=this.isInTrashList
      openMoveDialog=(if this.hasSelectedProjects null (toggle-action "isMoveDialogOpen" this))
      openWhenDialog=(toggle-action "isWhenDialogOpen" this)
      openDeadlineDialog=(toggle-action "isDeadlineDialogOpen" this)
      complete=(action "completeSelected")
      uncomplete=(action "uncompleteSelected")
      cancel=(action "cancelSelected")
      delete=(action "deleteSelected")
      undelete=(action "undeleteSelected")
    }}

    {{#from-elsewhere name="actions-bar" as |actionsBar|}}
      {{component actionsBar}}
    {{/from-elsewhere}}
  {{/animated-if}}
</div>

{{#if this.isShortcutsDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "shortcuts-dialog"
    close=(toggle-action "isShortcutsDialogOpen" this)
  )}}
{{/if}}

{{#if this.isMoveDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "move-dialog"
    moveToInbox=(action "moveSelectedToList" "inbox")
    moveToProject=(action "moveSelectedToProject")
    close=(toggle-action "isMoveDialogOpen" this)
  )}}
{{/if}}

{{#if this.isWhenDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "when-dialog"
    setWhen=(action "moveSelectedToList")
    close=(toggle-action "isWhenDialogOpen" this)
  )}}
{{/if}}

{{#if this.isDeadlineDialogOpen}}
  {{to-elsewhere named="modal" send=(
    component "deadline-dialog"
    setDeadline=(action "setDeadlineForSelected")
    close=(toggle-action "isDeadlineDialogOpen" this)
  )}}
{{/if}}

{{#animated-if canCreateTask use=transition duration=200}}
  <div class="c-floating-button">
    <div class="c-floating-button__inner" {{action "createNewTask"}}>
      {{svg-jar "plus" class="c-floating-button__iner__icon"}}
    </div>
  </div>
{{/animated-if}}