<div class="c-item__line">
  {{project-checkbox
    project=@item
    markProjectAsNew=(action @markItemsAs @item "new")
    markProjectAsCompleted=(action @markItemsAs @item "completed")
  }}

  {{#if (@and @item.isShownInToday)}}
    {{svg-jar "today" class="c-item__star"}}
  {{/if}}

  {{#if @item.isShownInLogbook}}
    <div class="c-item__completed-at">
      {{moment-format @item.processedAt 'MMM DD'}}
    </div>
  {{/if}}

  {{#if @item.isShownInUpcoming}}
    <div class="c-item__upcoming-at">
      {{moment-format @item.upcomingAt 'MMM DD'}}
    </div>
  {{/if}}

  <div class="c-item__name c-item__name--project {{if (not @item.name) 'c-item__name--placeholder'}}">
    {{if @item.name @item.name this.placeholder}}
  </div>

  <div class="c-item__counter">
    {{@item.activeTasks.length}}
  </div>

  {{#if (and (not this.isCompleted) @item.deadline)}}
    <div class="c-item__separator"></div>

    <div class="c-item__deadline {{if @item.isDeadline 'c-item__deadline--alarm'}}">
      {{@item.deadlineDisplay}}
    </div>
  {{/if}}
</div>