{{#if @item.isCompleted}}
  <div class="c-checkbox c-checkbox--project is-checked js-checkbox" title="Mark project as incomplete" {{action @uncompleteItem @item}}>
    {{svg-jar "checkbox-mark" class="c-checkbox__icon" }}
  </div>
{{else}}
  <div class="c-checkbox c-checkbox--pie js-checkbox" title="Mark project as complete" {{action @completeItem @item}}>
    {{progress-pie progress=@item.progress}}
  </div>
{{/if}}

{{#if @item.isShownInLogbook}}
  <div class="c-item__completed-at">
    {{@item.completedAtDisplay}}
  </div>
{{/if}}

<div
  class="c-item__name {{if (not @item.name) 'c-item__name--placeholder'}}"
  data-test-task-name
>
  {{if @item.name @item.name this.placeholder}}
</div>