{{#if @isNotSortable}}
  {{#animated-container}}
    {{#animated-each @items use=eachTransition duration=200 as |item|}}
      <div
        class="{{if (is-selected item) 'is-selected'}}"
      >
        {{#if item.isProject}}
          {{items-project
            item=item
            completeItems=(route-action "completeItems")
            uncompleteItems=(route-action "uncompleteItems")
            selectBetween=@selectBetween
          }}
        {{else}}
          {{items-task
            task=item
            updateItemName=(route-action "updateItemName")
            updateItemNotes=(route-action "updateItemNotes")
            setItemsDeadline=(route-action "setItemsDeadline")
            completeItems=(route-action "completeItems")
            uncompleteItems=(route-action "uncompleteItems")
            cancelItems=(route-action "cancelItems")
            deleteItems=(route-action "deleteItems")
            undeleteItems=(route-action "undeleteItems")
            moveItemsToList=(route-action "moveItemsToList")
            moveTasksToProject=(route-action "moveTasksToProject")
            selectBetween=@selectBetween
          }}
        {{/if}}
      </div>
    {{/animated-each}}
  {{/animated-container}}
{{else}}
  {{#sortable-group onChange=(route-action "reorderItems") as |group|}}
    {{#animated-container}}
      {{#animated-each @items use=eachTransition duration=200 as |item|}}
        {{#sortable-item
          class=(if (is-selected item) 'is-selected')
          model=item
          group=group
          distance=2
          handle=".is-sortable"
        }}
          {{#if item.isProject}}
            {{items-project
              item=item
              completeItems=(route-action "completeItems")
              uncompleteItems=(route-action "uncompleteItems")
              selectBetween=@selectBetween
            }}
          {{else}}
            {{items-task
              task=item
              updateItemName=(route-action "updateItemName")
              updateItemNotes=(route-action "updateItemNotes")
              setItemsDeadline=(route-action "setItemsDeadline")
              completeItems=(route-action "completeItems")
              uncompleteItems=(route-action "uncompleteItems")
              cancelItems=(route-action "cancelItems")
              deleteItems=(route-action "deleteItems")
              undeleteItems=(route-action "undeleteItems")
              moveItemsToList=(route-action "moveItemsToList")
              moveTasksToProject=(route-action "moveTasksToProject")
              selectBetween=@selectBetween
            }}
          {{/if}}
        {{/sortable-item}}
      {{/animated-each}}
    {{/animated-container}}
  {{/sortable-group}}
{{/if}}