{{#modal-dialog
  class="js-items-actions"
  title="Move"
  close=@close
}}
  <div class="c-dialog__options">
    <div class="c-dialog__section">
      <div class="c-dialog__options-item u-capitalize" {{action (queue @moveToInbox @close)}}>
        {{svg-jar "inbox" class="c-dialog__options-icon"}}

        <div class="c-dialog__options-text">
          Inbox
        </div>
      </div>
    </div>

    <div class="c-dialog__section">
      <div class="c-dialog__options-item" {{action (queue (action @moveToProject null) @close)}}>
        {{svg-jar "no" class="c-dialog__options-icon c-dialog__options-icon--no"}}

        <div class="c-dialog__options-text">No project</div>
      </div>

      {{#each (sort-by 'order' (filter-by "isActive" true this.data.projects)) as |project|}}
        <div class="c-dialog__options-item" {{action (queue (action @moveToProject project) @close)}}>
          {{progress-pie
            class="c-dialog__options-icon"
            progress=project.progress
          }}

          <div class="c-dialog__options-text">
            {{or project.name 'New project'}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/modal-dialog}}