{{#modal-dialog
  class="js-items-actions"
  title="Move"
  close=@close
}}
  <div class="c-dialog__options">
    <div class="c-dialog__section">
      {{#each @folders as |folder|}}
        <div class="c-dialog__options-item" {{action @moveSelectedToFolder folder}}>
          {{svg-jar folder class="c-dialog__options-icon"}}

          <div class="c-dialog__options-text">
            {{folder}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="c-dialog__section">
      <div class="c-dialog__options-item" {{action @moveSelectedToProject null}}>
        {{svg-jar "no" class="c-dialog__options-icon c-dialog__options-icon--no"}}

        <div class="c-dialog__options-text">No project</div>
      </div>

      {{#each @projects as |project|}}
        <div class="c-dialog__options-item" {{action @moveSelectedToProject project}}>
          {{progress-pie
            class="c-dialog__options-icon"
            progress=project.progress
          }}

          <div class="c-dialog__options-text">
            {{or project.name 'New project'}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/modal-dialog}}