<div class="c-sidebar-nav">
  <div class="c-sidebar-nav__section">
    {{#link-to "inbox" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "inbox" class="c-sidebar-nav__icon c-sidebar-nav__icon--inbox"}}
      <div class="c-sidebar-nav__text">
        Inbox
      </div>
    {{/link-to}}
  </div>

  <div class="c-sidebar-nav__section">
    {{#link-to "today" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "today" class="c-sidebar-nav__icon c-sidebar-nav__icon--today"}}
      <div class="c-sidebar-nav__text">
        Today
      </div>
    {{/link-to}}

    {{#link-to "anytime" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "anytime" class="c-sidebar-nav__icon c-sidebar-nav__icon--anytime"}}
      <div class="c-sidebar-nav__text">
        Anytime
      </div>
    {{/link-to}}

    {{#link-to "someday" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "someday" class="c-sidebar-nav__icon c-sidebar-nav__icon--someday"}}
      <div class="c-sidebar-nav__text">
        Someday
      </div>
    {{/link-to}}
  </div>

  <div class="c-sidebar-nav__section">
    {{#link-to "logbook" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "logbook" class="c-sidebar-nav__icon c-sidebar-nav__icon--logbook"}}
      <div class="c-sidebar-nav__text">
        Logbook
      </div>
    {{/link-to}}

    {{#link-to "trash" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "trash" class="c-sidebar-nav__icon c-sidebar-nav__icon--trash"}}
      <div class="c-sidebar-nav__text">
        Trash
      </div>
    {{/link-to}}
  </div>
</div>
