<div class="c-item__line">
  <div
    class="c-checkbox js-checkbox {{if @task.isProcessed 'is-checked'}}"
    {{action @toggleCheckbox}}
  >
    {{#if @task.isCompleted}}
      {{svg-jar "checkbox-mark" class="c-checkbox__icon" }}
    {{/if}}

    {{#if @task.isCanceled}}
      {{svg-jar "cancel" class="c-checkbox__icon c-checkbox__icon--cancel" }}
    {{/if}}
  </div>

  {{#if (and @task.isToday (not @task.isProcessed))}}
    {{svg-jar "today" class="c-item__star"}}
  {{/if}}

  {{#if @task.isShownInLogbook}}
    <div class="c-item__completed-at">
      {{format-date @task.processedAt}}
    </div>
  {{/if}}

  {{#if @task.isShownInUpcoming}}
    <div class="c-item__upcoming-at">
      {{format-date @task.upcomingAt}}
    </div>
  {{/if}}

  {{#if (and @task.project @isProjectShown)}}
    <div class="c-item__project">
      {{if @task.project.name @task.project.name 'New project'}}
    </div>
  {{/if}}

  <div
    class="c-item__name {{if (not @task.name) 'c-item__name--placeholder'}}"
    data-test-task-name
  >
    {{if @task.name @task.name @placeholder}}
  </div>

  {{#if @task.notes}}
    {{svg-jar "has-notes" class="c-item__has-icon"}}
  {{/if}}

  {{#if @task.subtasks}}
    {{svg-jar "has-subtasks" class="c-item__has-icon"}}
  {{/if}}

  {{#if (and @task.deadline (not @task.isCompleted))}}
    {{deadline-info class="c-item__deadline" deadline=@task.deadline}}
  {{/if}}
</div>