<div class="c-task__checkbox">
  {{!-- FIXME:
  Current checkbox implementation can return the input or the label on click event,
  so I have to use the same `js-checkbox` class to check if the checkbox was clicked.
  In a better implementation the same element will always be returned as the target.--}}
  <input
    class="c-task__checkbox-input js-checkbox"
    id="{{@task.id}}"
    type="checkbox"
    checked={{@task.isComplete}}
    onclick={{action "toggleTask" value="target.checked"}}
  >
  <label class="c-task__checkbox-label js-checkbox" for="{{@task.id}}"></label>
</div>

{{#if isEditing}}
  {{input
    class="c-task__input js-task-input"
    placeholder=this.placeholder
    value=@task.name
    enter=(action "onEnter")
    escape-press=(action "onEscape")
  }}
{{else}}
  <div class="c-task__name {{if (not @task.name) 'c-task__name--placeholder'}}">
    {{if @task.name @task.name this.placeholder}}
  </div>
{{/if}}