<div class="c-item__line">
  <div
    class="c-checkbox js-checkbox {{if this.isProcessed 'is-checked'}}"
    {{action "toggleCheckbox"}}
  >
    {{#if this.isCompleted}}
      {{svg-jar "checkbox-mark" class="c-checkbox__icon" }}
    {{/if}}

    {{#if this.isCanceled}}
      {{svg-jar "cancel" class="c-checkbox__icon c-checkbox__icon--cancel" }}
    {{/if}}
  </div>

  {{text-input
    class="c-item__input js-item-input"
    placeholder=@placeholder
    value=@task.name
    update=(action (mut @task.name))
    enter=@stopEditing
    escape-press=@stopEditing
    data-test-task-name-input=true
  }}
</div>

<div class="c-item-form">
  <div class="c-item-form__section c-item-form__section--notes">
    <label class="c-item-form__notes-label" for="notes">
      {{svg-jar "note"}}
    </label>

    {{text-area
      class="c-item-form__notes"
      id="notes"
      autoresize=true
      max-rows=10
      placeholder="Notes"
      value=@task.notes
      update=(action (mut @task.notes))
      escape-press=@stopEditing
    }}
  </div>

  <div class="c-item-form__section">
    {{#basic-dropdown
      class="c-dropdown"
      as |dropdown|
    }}
      <div class="c-item-form__label" {{action dropdown.actions.open}}>
        When:
      </div>

      <div class="c-item-form__value" data-ebd-id="{{dropdown.uniqueId}}-trigger" {{action dropdown.actions.open}}>
        {{#if (and @task.when (not @task.isInbox))}}
          <div class="c-item-form__value-box">
            {{svg-jar @task.when class=(concat "c-icon c-icon--16 c-icon--" @task.when)}}

            <div class="c-item-form__value-text u-capitalize">
              {{#if (eq @task.when "upcoming")}}
                {{moment-format @task.upcomingAt 'MMM DD'}}
              {{else}}
                {{@task.when}}
              {{/if}}
            </div>

            {{#if (not-eq @task.when "anytime")}}
              <div class="c-item-form__value-reset" {{action "setWhen" "anytime" bubbles=false}}>
                {{svg-jar "no"}}
              </div>
            {{/if}}
          </div>
        {{else}}
          <div class="c-item-form__placeholder">
            Set when
          </div>
        {{/if}}
      </div>

      {{#dropdown.content class="c-dropdown__content js-items-actions"}}
        <div class="c-dropdown__content-inner">
          {{when-options
            selectedDate=@task.upcomingAt
            setWhen=(queue (action "setWhen") dropdown.actions.close)
          }}
        </div>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>

  <div class="c-item-form__section">
    {{#basic-dropdown
      class="c-dropdown"
      as |dropdown|
    }}
      <div class="c-item-form__label" {{action dropdown.actions.open}}>
        List:
      </div>

      <div class="c-item-form__value" data-ebd-id="{{dropdown.uniqueId}}-trigger" {{action dropdown.actions.open}}>
        {{#if @task.project}}
          <div class="c-item-form__value-box">
            {{progress-pie
              class="c-icon c-icon--16 c-icon--project"
              progress=@task.project.progress
            }}

            <div class="c-item-form__value-text">
              {{or @task.project.name "New project"}}
            </div>

            <div class="c-item-form__value-reset" {{action "moveToProject" null bubbles=false}}>
              {{svg-jar "no"}}
            </div>
          </div>
        {{else if @task.isInbox}}
          <div class="c-item-form__value-box">
            {{svg-jar "inbox" class="c-icon c-icon--16 c-icon--inbox"}}

            <div class="c-item-form__value-text u-capitalize">
              Inbox
            </div>
          </div>
        {{else}}
          <div class="c-item-form__placeholder">
            No project
          </div>
        {{/if}}
      </div>

      {{#dropdown.content class="c-dropdown__content js-items-actions"}}
        <div class="c-dropdown__content-inner">
          {{move-options
            moveToInbox=(queue (action "moveToInbox") dropdown.actions.close)
            moveToProject=(queue (action "moveToProject") dropdown.actions.close)
          }}
        </div>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>

  <div class="c-item-form__section">
    {{#basic-dropdown
      class="c-dropdown"
      as |dropdown|
    }}
      <div class="c-item-form__label" {{action dropdown.actions.open}}>
        Deadline:
      </div>

      <div class="c-item-form__value" data-ebd-id="{{dropdown.uniqueId}}-trigger" {{action dropdown.actions.open}}>
        {{#if @task.deadline}}
          <div class="c-item-form__value-box">
            {{svg-jar "flag" class="c-icon c-icon--16 c-icon--flag"}}

            <div class="c-item-form__value-text">
              {{moment-format @task.deadline 'MMM DD'}}
            </div>

            {{deadline-info class="c-item-form__deadline" deadline=@task.deadline}}

            <div class="c-item-form__value-reset" {{action (mut @task.deadline) null bubbles=false}}>
              {{svg-jar "no"}}
            </div>
          </div>
        {{else}}
          <div class="c-item-form__placeholder">
            Add deadline
          </div>
        {{/if}}
      </div>

      {{#dropdown.content class="c-dropdown__content js-items-actions"}}
        <div class="c-dropdown__content-inner">
          {{deadline-options
            value=@task.deadline
            setDeadline=(queue (action (mut @task.deadline)) dropdown.actions.close)
          }}
        </div>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>
</div>
