{{#modal-dialog
  class="js-items-actions"
  title="When"
  close=@close
}}
  <div class="c-dialog__options">
    <div class="c-dialog__section">
      {{#each (array "today" "anytime" "someday") as |when|}}
        <div class="c-dialog__options-item u-capitalize" {{action (queue (action @setWhen when) @close)}}>
          {{svg-jar when class=(concat "c-dialog__options-icon c-dialog__options-icon--" when)}}

          <div class="c-dialog__options-text">
            {{when}}
          </div>
        </div>
      {{/each}}
    </div>

    {{#power-calendar
      selected=@selectedDate
      center=(or this.center @selectedDate)
      onCenterChange=(action (mut this.center) value="date")
      onSelect=(action (queue (action (action @setWhen "upcoming") value="date") @close))
      as |calendar|
    }}
      {{calendar.nav}}
      {{calendar.days}}
    {{/power-calendar}}
  </div>
{{/modal-dialog}}