{{#app-main
  hasContent=this.hasContent
  folder="project"
  project=this.project
  updateProjectName=(route-action "updateItemName" this.project)
  markProjectAsCompleted=(route-action "markItemsAs" this.project "completed")
  markProjectAsNew=(route-action "markItemsAs" this.project "new")
  deleteProject=(pipe (route-action "deleteItems" this.project) (route-action "replaceRoute" "today"))
  undeleteProject=(route-action "undeleteItems" this.project)
  as |selectBetween|
}}
  <div class="c-folder__group">
    {{items-list
      items=(sort-by "order" this.anytimeTasks)
      selectBetween=selectBetween
    }}
  </div>

  {{#if hasSomeday}}
    <div class="c-folder__buttons">
      <button class="c-folder__button" {{action (toggle "areLaterItemsShown" this)}}>
        {{if this.areLaterItemsShown "Hide" "Show"}} later items
      </button>
    </div>
  {{/if}}

  {{#animated-container}}
    {{#animated-if this.areLaterItemsShown use=fade duration=200}}
      <div class="c-folder__group">
        {{items-list
          items=(sort-by "order" this.somedayTasks)
          selectBetween=selectBetween
        }}
      </div>
    {{/animated-if}}
  {{/animated-container}}

  {{#if hasLogbook}}
    <div class="c-folder__buttons">
      <button class="c-folder__button" {{action (toggle "areLoggedItemsShown" this)}}>
        {{if this.areLoggedItemsShown "Hide" "Show"}} logged items
      </button>
    </div>
  {{/if}}

  {{#animated-container}}
    {{#animated-if this.areLoggedItemsShown use=fade duration=200}}
      <div class="c-folder__group">
        {{items-list
          items=(sort-by "order" this.logbookTasks)
          isNotSortable=true
          selectBetween=selectBetween
        }}
      </div>
    {{/animated-if}}
  {{/animated-container}}
{{/app-main}}