{{#app-main
  hasContent=this.hasContent
  folder="project"
  project=this.project
  as |selectBetween|
}}
  <div class="c-folder__group">
    {{items-list
      items=(sort-by "order" (filter-by-tags this.anytimeTasks))
      selectBetween=selectBetween
    }}
  </div>

  {{#if (or hasUpcoming hasSomeday)}}
    <div class="c-folder__buttons">
      <button class="c-folder__button" {{action (toggle "areLaterItemsShown" this)}}>
        {{if this.areLaterItemsShown "Hide" "Show"}} later items
      </button>
    </div>
  {{/if}}

  {{#animated-container}}
    {{#animated-if this.areLaterItemsShown use=fade duration=200}}
      <div class="c-folder__group">
        {{items-list
          items=(sort-by "order" (filter-by-tags this.upcomingTasks))
          isSortable=false
          selectBetween=selectBetween
        }}

        {{items-list
          items=(sort-by "order" (filter-by-tags this.somedayTasks))
          selectBetween=selectBetween
        }}
      </div>
    {{/animated-if}}
  {{/animated-container}}

  {{#if hasLogbook}}
    <div class="c-folder__buttons">
      <button class="c-folder__button" {{action (toggle "areLoggedItemsShown" this)}}>
        {{if this.areLoggedItemsShown "Hide" "Show"}} logged items
      </button>
    </div>
  {{/if}}

  {{#animated-container}}
    {{#animated-if this.areLoggedItemsShown use=fade duration=200}}
      <div class="c-folder__group">
        {{items-list
          items=(sort-by "order" (filter-by-tags this.logbookTasks))
          isSortable=false
          selectBetween=selectBetween
        }}
      </div>
    {{/animated-if}}
  {{/animated-container}}
{{/app-main}}