{{#app-main
  hasContent=this.hasContent
  folder="someday"
  as |selectBetween|
}}
  <div class="c-folder__group">
    {{#task-list
      tasks=(sort-by "order" this.noProjectTasks)
      reorderItems=(route-action "reorderItems")
      as |task|
    }}
      {{task-item
        task=task
        updateItemName=(route-action "updateItemName")
        completeItem=(route-action "completeItem")
        uncompleteItem=(route-action "uncompleteItem")
        selectBetween=selectBetween
        data-test-task=task.id
      }}
    {{/task-list}}
  </div>

  {{#if hasProjects}}
    <div class="c-folder__buttons">
      <button class="c-folder__button" {{action (toggle "isProjectListShown" this)}}>
        {{if isProjectListShown "Hide items from projects" "Show items from projects"}}
      </button>
    </div>
  {{/if}}

  {{#animated-if this.isProjectListShown use=eachTransition duration=200}}
    {{#animated-each (sort-by "order" somedayProjects) use=eachTransition duration=200 as |project|}}
      <div class="c-folder__group">
        {{#link-to "project" project class="c-folder__group-title c-folder__project-link"}}
          <div class="c-folder__group-title-inner">
            {{progress-pie
              class="c-folder__group-icon c-folder__group-icon--project"
              progress=project.progress
            }}

            <div class="c-folder__group-text">
              {{project.name}}
            </div>
          </div>
        {{/link-to}}

        {{#task-list
          tasks=(sort-by "order" (filter-by "isShownInSomeday" project.tasks))
          reorderItems=(route-action "reorderItems")
          as |task|
        }}
          {{task-item
            task=task
            updateItemName=(route-action "updateItemName")
            completeItem=(route-action "completeItem")
            uncompleteItem=(route-action "uncompleteItem")
            selectBetween=selectBetween
            data-test-task=task.id
          }}
        {{/task-list}}
      </div>
    {{/animated-each}}
  {{/animated-if}}
{{/app-main}}